@charset "UTF-8";
@font-face {
  font-family: "red hat display";
  src: url("fonts/RedHatDisplay-Regular.ttf") format("truetype"),
  font-weight: normal;
  font-style: normal;
  font-display: block;
}