footer {
  background: #333333;
  margin: 0 auto;
  padding: 2rem 0rem;
}

ul {
  list-style-type: none;
  padding: 0rem;
}

a {
  @import url("https://rsms.me/inter/inter.css");
  html {
    font-family: "Inter", sans-serif;
  }
  @supports (font-variation-settings: normal) {
    html {
      font-family: "Inter var", sans-serif;
    }
  }
  color: #ffffff;
  text-decoration: none !important;
  outline: none !important;
  font-size: 18px;
}

a:visited {
  @import url("https://rsms.me/inter/inter.css");
  html {
    font-family: "Inter", sans-serif;
  }
  @supports (font-variation-settings: normal) {
    html {
      font-family: "Inter var", sans-serif;
    }
  }
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  font-size: 18px;
}

.b-footer {
  @import url("https://rsms.me/inter/inter.css");
  html {
    font-family: "Inter", sans-serif;
  }
  @supports (font-variation-settings: normal) {
    html {
      font-family: "Inter var", sans-serif;
    }
  }
  &__text {
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.018em;
  }

  &__links {
    @import url("https://rsms.me/inter/inter.css");
    html {
      font-family: "Inter", sans-serif;
    }
    @supports (font-variation-settings: normal) {
      html {
        font-family: "Inter var", sans-serif;
      }
    }
    :first-child::before {
      content: "";
      padding: 0rem;
    }
    ::before {
      content: "|";
      padding: 1rem 1rem;
    }
    :hover {
      color: #ffc970;
      font-weight: bold;
    }
  }

  &__copyright {
    font-style: normal;
    padding-top: 2rem;
  }
}
