footer {
  background: #333333;
  margin: 0 auto;
  padding: 2rem 0rem;
}

ul {
  list-style-type: none;
  padding: 0rem;
}

a {
  @import url("https://rsms.me/inter/inter.css");
  color: #ffffff;
  text-decoration: none !important;
  outline: none !important;
  font-size: 18px;
}
a html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  a html {
    font-family: "Inter var", sans-serif;
  }
}

a:visited {
  @import url("https://rsms.me/inter/inter.css");
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  font-size: 18px;
}
a:visited html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  a:visited html {
    font-family: "Inter var", sans-serif;
  }
}

.b-footer {
  @import url("https://rsms.me/inter/inter.css");
}
.b-footer html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  .b-footer html {
    font-family: "Inter var", sans-serif;
  }
}
.b-footer__text {
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.018em;
}
.b-footer__links {
  @import url("https://rsms.me/inter/inter.css");
}
.b-footer__links html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  .b-footer__links html {
    font-family: "Inter var", sans-serif;
  }
}
.b-footer__links :first-child::before {
  content: "";
  padding: 0rem;
}
.b-footer__links ::before {
  content: "|";
  padding: 1rem 1rem;
}
.b-footer__links :hover {
  color: #ffc970;
  font-weight: bold;
}
.b-footer__copyright {
  font-style: normal;
  padding-top: 2rem;
}/*# sourceMappingURL=footer.css.map */