@import url("https://rsms.me/inter/inter.css");
main {
  font-family: "Inter", sans-serif;
  display: flex;
  padding: 5rem;
}
@supports (font-variation-settings: normal) {
  main {
    font-family: "Inter var", sans-serif;
    display: flex;
    padding: 5rem;
  }
}

img {
  max-width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

.b-gallery {
  background-color: #eeeeee;

  &__box {
    margin: 0% 10%;
    padding: 4%;
    background: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  &__title {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 12px;

    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.87);
  }
  
  &__italicTitle {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    font-family: Inter;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    margin-left: 6px;
    color: rgba(0, 0, 0, 0.87);
  }

  &__search {
    width: 18%;
    margin: 2% 0%;
    border: 1px solid #444444;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 4px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 143%;
  }
}

.b-options {
  background: #ededed;
  padding: 1rem 2rem;
  height: 20px;
  border-radius: 6px;

  // &__list {
  // }
  // &__grid {
  // }
  &--selection {
    background: #ffffff;
    padding: 1rem 2rem;
    height: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
    border-radius: 6px;
    & path {
      fill: #787885;
    }
  }

  & path {
    fill: #444444;
  }
}

.b-prod {
  margin: 1rem 0rem;
  padding: 0.5rem 0rem;

  &__img {
    max-width: 75%;
    border-radius: 4px;
    display: flexbox;
    align-self: center;
  }

  &__name {
    margin: 0.5rem 0rem;
    font-weight: normal;
    line-height: 150%;
    font-style: normal;
    font-size: 16px;
    color: #19191d;
    letter-spacing: 0.0275em;
  }

  &__price {
    margin: 1rem 0rem;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
  }

  &__desc {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 143%;
    display: flex;
    align-items: center;
    letter-spacing: 0.018em;
    color: #787885;
  }

  &__rating {
    background: white;
    margin: 1rem 0rem;
    font-size: medium;
    color: #444444;
  }

  &__btn {
    margin: 1rem 1rem;
    padding: 0.25rem 1rem;
    background: #ffffff;
    border: 1px solid #9dc2ff;
    box-sizing: border-box;
    border-radius: 4px;

    //Button text
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.018em;
    color: #2264d1;
  }
}

.checked {
  color: linear-gradient(orange 50%, #444444 50%);
}
