@charset "UTF-8";
@import url("https://rsms.me/inter/inter.css");
body,
html {
  margin: 0 auto;
  width: 100;
}

@font-face {
  font-family: "RedHatDisplay-Regular";
  src: url("fonts/RedHatDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.b-nav {
  font-family: "Inter", sans-serif;
  background-color: #ffc970;
  width: 100%;
  color: #444444;
}
.b-nav__div {
  font-size: small;
  font-weight: bolder;
  padding: 0.5rem 1.5rem 0rem 1.5rem;
  margin: 0.5rem 1rem 0.5rem 1rem;
}
.b-nav__div:hover {
  background: rgba(235, 242, 255, 0.3);
  color: #00579f !important;
  border-radius: 10px;
  font-weight: 600;
}
.b-nav__span {
  font-weight: 600;
  padding: 0;
  margin: 0;
}
.b-nav__p {
  font-size: medium;
}
.b-nav--select {
  background: rgba(235, 242, 255, 0.3);
  color: #00579f !important;
  border-radius: 10px;
  font-weight: 600;
}

@supports (font-variation-settings: normal) {
  .b-nav {
    font-family: "Inter", sans-serif;
    background-color: #ffc970;
    width: 100%;
    color: #444444;
  }
  .b-nav__span {
    font-weight: 600;
    padding: 0 auto;
    margin: 0 auto;
  }
  .b-nav__p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding: 0rem 0.75rem;
    margin: 0.5rem auto;
  }
  .b-nav--select {
    background: rgba(235, 242, 255, 0.3);
    color: #00579f;
    border-radius: 10px;
  }
}
.b-header {
  margin: 0 auto;
  font-style: normal;
  font-family: "RedHatDisplay-regular";
}
.b-header__title {
  font-family: Inter;
  color: #0c2146;
  font-size: 36px;
  line-height: 36px;
  padding-left: 12px;
  font-weight: 600;
}
.b-header__logo {
  font-family: Inter;
  color: white;
  background: linear-gradient(90deg, #2979FF 0%, #4C589E 100%);
  height: 40px;
  width: 40px;
  left: 0px;
  top: 0px;
  border-radius: 10px;
  font-weight: 600;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf?ob718z") format("truetype"), url("../fonts/icomoon.woff?ob718z") format("woff"), url("../fonts/icomoon.svg?ob718z#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-size: large;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-buy-online:before {
  content: "";
}

.icon-pencil2:before {
  content: "";
}

.icon-pacman:before {
  content: "";
}/*# sourceMappingURL=header.css.map */