body,
html {
  margin: 0 auto;
  width: 100;
}
@import "variables.scss";
@import url("https://rsms.me/inter/inter.css");

@font-face {
  font-family: "RedHatDisplay-Regular";
  src: url("fonts/RedHatDisplay-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.b-nav {
  font-family: "Inter", sans-serif;
  background-color: #ffc970;
  width: 100%;
  color: #444444;

  &__div {
    font-size: small;
    font-weight: bolder;
    padding: 0.5rem 1.5rem 0rem 1.5rem;
    margin: 0.5rem 1rem 0.5rem 1rem;
  }

  &__div:hover {
    background: rgba(235, 242, 255, 0.3);
    color: #00579f !important;
    border-radius: 10px;
    font-weight: 600;
  }

  &__span {
    font-weight: 600;
    padding: 0;
    margin: 0;
  }

  &__p {
    font-size: medium;
  }

  &--select {
    background: rgba(235, 242, 255, 0.3);
    color: #00579f !important;
    border-radius: 10px;
    font-weight: 600;
  }
}
@supports (font-variation-settings: normal) {
  .b-nav {
    font-family: "Inter", sans-serif;
    background-color: #ffc970;
    width: 100%;
    color: #444444;

    &__span {
      font-weight: 600;
      padding: 0 auto;
      margin: 0 auto;
    }

    &__p {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      padding: 0rem 0.75rem;
      margin: 0.5rem auto;
      // line-height: 143%;
    }

    &--select {
      background: rgba(235, 242, 255, 0.3);
      color: #00579f;
      border-radius: 10px;
    }
  }
}

.b-header {
  margin: 0 auto;
  font-style: normal;
  font-family: "RedHatDisplay-regular";

  &__title {
    font-family: Inter;
    color: #0c2146;
    font-size: 36px;
    line-height: 36px;
    padding-left: 12px;
    font-weight: 600;
  }

  &__logo {
    font-family: Inter;
    color: white;
    background: linear-gradient(90deg, #2979FF 0%, #4C589E 100%);
    height: 40px;
    width: 40px;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    font-weight: 600;
  }
}


@font-face {
  font-family: "#{$icomoon-font-family}";
  src: url("../#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?ob718z")
      format("truetype"),
    url("../#{$icomoon-font-path}/#{$icomoon-font-family}.woff?ob718z")
      format("woff"),
    url("../#{$icomoon-font-path}/#{$icomoon-font-family}.svg?ob718z##{$icomoon-font-family}")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "#{$icomoon-font-family}" !important;
  font-style: normal;
  font-size: large;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  // line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-buy-online {
  &:before {
    content: $icon-buy-online;
  }
}
.icon-pencil2 {
  &:before {
    content: $icon-pencil2;
  }
}
.icon-pacman {
  &:before {
    content: $icon-pacman;
  }
}