@import url("https://rsms.me/inter/inter.css");
main {
  font-family: "Inter", sans-serif;
  display: flex;
  padding: 5rem;
}

@supports (font-variation-settings: normal) {
  main {
    font-family: "Inter var", sans-serif;
    display: flex;
    padding: 5rem;
  }
}
img {
  max-width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

.b-main {
  font-family: "Inter var", sans-serif;
  background-color: #eeeeee;
}
.b-main__box {
  margin: 0% 10%;
  padding: 4%;
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.b-main__title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.87);
  margin: 0% 0% 5% 0%;
}
.b-main__italicTitle {
  font-family: Inter;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.87);
}

.b-form {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-family: "Inter";
}
.b-form__label {
  margin: 1rem 0rem;
  font-size: 14px;
  line-height: 143%;
  color: #000000;
}
.b-form__input {
  color: #888888;
  border: 1px solid #444444;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 143%;
}
.b-form__btn {
  margin: 1rem 1rem;
  padding: 0.25rem 1rem;
  background: #ffffff;
  border: 1px solid #9dc2ff;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.018em;
  color: #2264d1;
}

#separator {
  border-left: 1px solid orange;
}/*# sourceMappingURL=management.css.map */